<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>나이</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}">100</td>
                <td th:text="${member.name}">이름</td>
                <td th:text="${member.age}">나이</td>
            </tr>
        </tbody>
    </table>
</body>
</html>